# dependencies
**/node_modules/**

# ide
**/.idea/**

**/package-lock.json

# transpiled .js files
packages/**/out

# built files
packages/**/dist/**/*
**/tsconfig.build.tsbuildinfo
extensions/**/dist/**/*
